<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="canvasjs.min.js"></script>
    <style type="text/css">
        .bg-1 { 
    background-color: #002699; /* Blue */
    color: #000000;
    max-height: :auto;
    }
    body{
    height: 100%;
    background-color: #002699 ;
    }
    h1{
        color: white
    }
    .center{
        margin: auto;
        width: 100%;
       /*border: 3px solid green;*/
        padding: 0;
        /*text-align: left;*/
    }
    .center1{
        margin: auto;
        width: 10%;
       /*border: 3px solid green;*/
        padding: 100px 0;
        /*text-align: left;*/
    }
    .left {
    float: left;
    width: 100px;
    /*background-color: #b0e0e6;*/
    }
    .right {
    float: right;
    width: 10px;
    /*background-color: #b0e0e6;*/
    }
    th,td{
        padding: 15px;
    }
    div.scroll {
    height: 300px;
    overflow: scroll;
    }
    /*limit for panel*/
    </style>

    <script type="text/javascript">
        window.onload = function () {
            //Creating date objects Example Tue Feb 28 2017 16:14:33 GMT+0700 (SE Asia Standard Time)
            var time = new Date();//time date of x value
            //Gas chart
            var dps_gas = []; // dataPoints
            var dps_temp = [];
            var dps_hum = [];
            var dps_his_gas = [{x:1 ,y:2},
                               {x:2 ,y:10},
                               {x:3 ,y:3},
                               {x:4 ,y:5},
                               {x:5 ,y:6}]
                               ;
            var dps_his_temp = [{x:1 ,y:2},
                               {x:2 ,y:10},
                               {x:3 ,y:3},
                               {x:4 ,y:5},
                               {x:5 ,y:6}]
                               ;
            var dps_his_hum = [{x:1 ,y:2},
                               {x:2 ,y:10},
                               {x:3 ,y:3},
                               {x:4 ,y:5},
                               {x:5 ,y:6}]
                               ;

            var yVal = 0; //gas value
            var yVal1 = 0; //temp value
            var yVal2 = 0; //humid value
            var updateInterval = 1000; // update evert 1000 milisecond
            var maxDataLength = 50; // number of dataPoints after which the series shifts
            
            var updateCount = 0;
            //Gas chart
            var chart = new CanvasJS.Chart("chartContainer", {
                scaleOverride : true,
                title: {
                    text: "Gas data"
                },
                axisX: {
                    title: "Time",
                    valueFormatString: "hh:mm:ss",
                    margin: 0
                },

                axisY: {
                    title: "%Unit",
                    margin: 10,
                    minimum: 0,
                    maximum: 100
                },
                data: [{
                    type: "spline",
                    xValueType: "dateTime",
                    dataPoints: dps_gas
                }],
            });
            //Temp chart
            var chart1 = new CanvasJS.Chart("chartContainer1", {
                title: {
                    text: "Temp data" 
                },
                axisX: {
                    title: "Time",
                    valueFormatString: "hh:mm:ss",
                    margin: 0
                },

                axisY: {
                    title: "%Unit",
                    margin: 10
                },
                data: [{
                    type: "spline",
                    xValueType: "dateTime",
                    dataPoints: dps_temp
                }],
            });
            //Humid chart
            var chart2 = new CanvasJS.Chart("chartContainer2", {
                title: {
                    text: "Humid data"
                },
                axisX: {
                    title: "Time",
                    valueFormatString: "hh:mm:ss",
                    margin: 0
                },

                axisY: {
                    title: "%Unit",
                    margin: 10
                },
                data: [{
                    type: "spline",
                    xValueType: "dateTime",
                    dataPoints: dps_hum
                }],
            });

            // //Gas_history
            // var chart4 = new CanvasJS.Chart("chartContainer3", {
            //     animationEnabled: true,
            //     title: {
            //         text: "Gas"
            //     },
            //     axisX: {
            //         title: "date",
            //         valueFormatString: "hh:mm:ss",
            //         margin: 0
            //     },

            //     axisY: {
            //         title: "Gas",
            //         margin: 10
            //     },
            //     data: [{
            //         type: "spline",
            //         xValueType: "dateTime",
            //         dataPoints: dps_his_gas
            //     }],
            // });
            // //Temp_history
            // var chart5 = new CanvasJS.Chart("chartContainer4", {
            //     animationEnabled: true,
            //     title: {
            //         text: "Temp"
            //     },
            //     axisX: {
            //         title: "date",
            //         valueFormatString: "hh:mm:ss",
            //         margin: 0
            //     },

            //     axisY: {
            //         title: "Temp",
            //         margin: 10,
            //         min: 0
            //     },
            //     data: [{
            //         type: "spline",
            //         xValueType: "dateTime",
            //         dataPoints: dps_his_temp
            //     }],
            // });

            // var chart6 = new CanvasJS.Chart("chartContainer5", {
            //     animationEnabled: true,
            //     title: {
            //         text: "Humid"
            //     },
            //     axisX: {
            //         title: "date",
            //         valueFormatString: "hh:mm:ss",
            //         margin: 0
            //     },

            //     axisY: {
            //         title: "Humid",
            //         margin: 10
            //     },
            //     data: [{
            //         type: "spline",
            //         xValueType: "dateTime",
            //         dataPoints: dps_his_hum
            //     }],
            // });

            var updateChart = function (count) {

                count = count || 1;

                for (var j = 0; j < 1; j++) {
                    time.setSeconds(time.getSeconds()+1);
                    yVal = yVal +  Math.round(5 + Math.random() *(-10));
                    yVal1 = yVal1 +  Math.round(5 + Math.random() *(-10));
                    yVal2 = yVal2 +  Math.round(5 + Math.random() *(-10));
                    dps_gas.push({
                        x: time.getTime(),
                        y: yVal
                    });
                    dps_temp.push({
                        x: time.getTime(),
                        y: yVal1
                    })
                    dps_hum.push({
                        x: time.getTime(),
                        y: yVal2
                    })
                    updateCount++;

                    if (dps_gas.length > maxDataLength) {
                        dps_gas.shift();
                    }
                    if (dps_temp.length > maxDataLength) {
                        dps_temp.shift();
                    }
                    if (dps_hum.length > maxDataLength) {
                        dps_hum.shift();
                    }
                }
                

                chart.render();
                chart1.render();
                chart2.render();
                

            };
            // chart4.render();
            // chart5.render();
            // chart6.render();
            // generates first set of dataPoints
            updateChart(maxDataLength);

            // update chart after specified time.
            setInterval(function () { updateChart();}, updateInterval);

        }

    </script>

<script> //value will get after click button generate
function GetDate1() {
    var Form1 = document.getElementById("Form1").value;
    var To1 = document.getElementById("To1").value;
    var Pan1 = "String Here!!" // Place any information on here
    document.getElementById("demo").innerHTML = "Form :"+Form1; // display Form1,To1 after click
    document.getElementById("demo1").innerHTML = "To :"+To1; 
    document.getElementById("gas_pan").innerHTML = Pan1; //output of id="gas_pan" equal Pan1
}
function GetDate2() {
    var Form2 = document.getElementById("Form2").value;
    var To2 = document.getElementById("To2").value;
    var Pan2 = "String Here!!" 
    document.getElementById("demo2").innerHTML = "Form :"+Form2; 
    document.getElementById("demo3").innerHTML = "To :"+To2;
    document.getElementById("temp_pan").innerHTML = Pan2;
}
function GetDate3() {
    var Form3 = document.getElementById("Form3").value;
    var To3 = document.getElementById("To3").value;
    var Pan3 = "String Here!!" //
    document.getElementById("demo4").innerHTML = "Form :"+Form3; 
    document.getElementById("demo5").innerHTML = "To :"+To3;
    document.getElementById("hum_pan").innerHTML = Pan3;
}
</script>

</head>
<body bg-1>
<center><h1><i>Sensor Monitor</i></h1></center>
<br>
<div class="row">
    <div class="col-sm-4" id="chartContainer" style="height: 300px; width:33%;"></div>
    <div class="col-sm-4" id="chartContainer1" style="height: 300px; width:33%;"></div>
    <div class="col-sm-4" id="chartContainer2" style="height: 300px; width:33%;"></div>
</div>
<br><br>

<!-- <br><br>
 -->
<!--              <div class="col-sm-6" id="chartContainer3" style="height: 300px; width:50%;"></div> -->
                    <div class="center">
                    <table style="width: 100%">


                    <tr>
                    <th><font color="white" id="demo" >Form :</font></th>
                    <th><input type="date" id="Form1" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th><!-- input date form -->
                    <th><button onclick="GetDate1()" class="btn btn-default">Generate</button></th> <!-- when click generate use function getDate -->

                    <th><font color="white" id="demo2">Form :</font></th>
                    <th><input type="date" id="Form2" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th>
                    <th><button onclick="GetDate2()" class="btn btn-default">Generate</button></th>

                    <th><font color="white" id="demo4">Form :</font></th>
                    <th><input type="date" id="Form3" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th>
                    <th><button onclick="GetDate3()" class="btn btn-default">Generate</button></th> 

                    </tr>
                    <tr>
                    <th><font color="white" id="demo1">To :</font></th> <!-- use for display after click button generate -->
                    <th><input type="date" id="To1" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th> <!-- input date to -->
                    <th></th>

                    <th><font color="white" id="demo3">To :</font></th>
                    <th><input type="date" id="To2" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th>
                    <th></th>

                    <th><font color="white" id="demo5">To :</font></th>
                    <th><input type="date" id="To3" name="date" value="2016-01-01" min="2016-01-01" max="2100-01-01"></th>
                    <th></th>

                    </tr>
                    </table>

<!-- Panal  -->                   
            <div class="row"> 
    <div class="col-md-4"> <!-- divide 12 colums across the page to 3 Equal Columns -->
        <div class="panel panel-primary"> <!-- class of panel -->
            <div class="panel-heading"> 
                <h3 class="panel-title">Gas</h3> <!-- panel head and title you can change any text in here -->
            </div>
            <div class="panel-body" id="gas_pan">Panel content <!-- this is body of panel can write any text by using document.getElementById("gas_pan").innerHTML = Pan1;  -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Temp</h3>
            </div>
            <div class="panel-body scroll" id="temp_pan">Panel content
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Humid</h3>
            </div>
            <div class="panel-body" id="hum_pan">Panel content
            </div>
        </div>
    </div>


</body>
</html>